body {
  background: black
}

p {
  font-family: verdana;
  font-size: 40px;
  color: #ffffff
}

h1 {
  font-family: monospace;
  color: #ffffff;
  font-size: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
   background: rgb(0,255,48);
background: linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
  overflow: hidden;
  border-radius: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: monospace;
  font-size: 17px;
  border-radius: 50px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-image: linear-gradient(90deg, #00ab25, #00cfd6);
  color: rgb(255, 255, 255);
}

.topnav a {
  transition-duration: 0.8s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: linear-gradient(90deg, rgba(0,255,48,1) 0%, rgba(0,242,255,1) 100%);
  background: white;
  color: black;
  border-radius: 50px;
}

@font-face {
  font-family: "Monocode";
    src: url("Monocode-Regular-V01.02b.ttf") format("truetype");
}

.button {
   background-image: linear-gradient(90deg, rgba(0,255,18,1) 0%, rgba(9,250,250,1) 100%);
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 50px;
   font-family: monospace;
   font-size: 20px;
   background-color: black;
   color: black;
 }

 .button {
   transition-duration: 0.4s;
 }


.button1 {
  background-color: white;
  background-image: linear-gradient(90deg, rgba(0,255,18,1) 0%, rgba(9,250,250,1) 100%);
  color: black; 
  border: 2px solid #4CAF50;
}

.button:hover {
 color: white;
  background-image: linear-gradient(90deg, #00ab25, #00cfd6);
font-size: 28px;
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  transition-duration: 0.8s;
}


.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 }

body{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}
