@font-face {
    font-family: 'Gunplay';
    src: url('https://638508418-274639104736829364.preview.editmysite.com/uploads/b/139890129-212982790859809719/files/styles/gunplay.ttf') format('truetype');
    font-weight: 400;
}
